<!-- Counter is: {{counter.name}} -->
<div *ngIf="items.length === 0" class="container text-center">
  <h4>Your cart is empty!</h4>
  <p>Click <a routerLink="/">here</a> to view all watches!</p>
</div>

<div *ngIf="items.length > 0" class="container">
  <div class="cart-item" *ngFor="let item of items; let i = index">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/images/watch{{item.id}}.png" alt="watch" width="200" height="200">
      </div>
      <div class="col-md-6">
        <h3>{{item.name}}</h3>
        <small>{{item.price | currency:'SGD'}}</small>
        <small>Strap Color: {{item.strapColor}}</small>
        <small>Dial Size: {{item.dialSize}}</small>
        <small>Quantity: x{{item.quantity}}</small>

      </div>

    </div>

  </div>

</div>




<div *ngIf="items.length">
  <p>
    <a routerLink="/shipping">Shipping prices</a>
  </p>
  <button class="button" type="button" routerLink="/checkout">Checkout</button>
</div>