<div class="my-container">

  <kendo-card *ngFor="let product of products" width="250px" [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]" class="card__highlight">

    <img src="../../assets/images/watch{{product.id}}.png" kendoCardMedia alt="cover_img" width="240" height="240" />
    <kendo-card-body>
      <h4>{{product.name}}</h4>
      <hr kendoCardSeparator />
      <p *ngIf="product.description">
        {{product.description}}
      </p>
      <p *ngIf="product.price">
        {{product.price | currency:'SGD'}}
      </p>
    </kendo-card-body>
  </kendo-card>

</div>